osx_image: xcode8.3
language: objective-c
podfile: Example/Podfile
rvm: 2.3.0
env:
- DOCS_PUBLISH_REPO_URL=git@github.com:tevelee/Funky.git
before_install:
- rvm install 2.3.0
- rvm use 2.3.0
- brew update
- brew outdated carthage || brew upgrade carthage
before_script:
- pod repo update --silent
- pod install --project-directory=Example --verbose
- carthage bootstrap --project-directory Example --verbose
script:
- rm -rf ./build || true
- set -o pipefail
- xcodebuild clean build -workspace Example/Funky.xcworkspace -scheme iOS-Example
  -sdk iphonesimulator10.3 -configuration Release | xcpretty --color
- xcodebuild test -workspace Example/Funky.xcworkspace -scheme iOS-Example -sdk iphonesimulator10.3
  -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.3' ONLY_ACTIVE_ARCH=NO
  GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES | xcpretty
  --color
- pod lib lint
- carthage build --no-skip-current --project-directory Example --verbose
- if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then 
    danger || true;
  fi
- sleep 3
after_success:
- if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then 
    openssl aes-256-cbc -K $encrypted_2620db1da8a0_key -iv $encrypted_2620db1da8a0_iv -in github_rsa.enc -out github_rsa -d;
    chmod 600 github_rsa;
    ssh-add github_rsa;
    ssh -o StrictHostKeyChecking=no git@github.com;
    git config --global user.email "tevelee@gmail.com";
    git config --global user.name "Travis-CI";
    rake docs:all || true;
  fi
- bash <(curl -s https://codecov.io/bash)
- sleep 3
